@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.Cart {
    display: flex;
    color: color(backgroundC);

    &Pic {
        height: 90px;
        width: 90px;
    }

    &Name {
        color: color(font);
        padding-top: 11px;
        padding-bottom: 17px;
    }

    &Parts {
        display: flex;
        flex-direction: column;
        height: 90px;
        width: 95%;
        padding-left: 30px;
        background-color: color(backgroundC);
    }

    &FormControl {
        width: 98px;
        background-color: color(white);
    }

    &Close {
        height: 24px;
        width: 24px;
        vertical-align: top;
        color: color(grey);
    }
}
