version: '3'

services:
    postgres:
        image: postgres:12.2
        ports:
            - 5432:5432
        environment:
            - POSTGRES_DB=hackathon_site
            - POSTGRES_HOST_AUTH_METHOD=trust
        volumes:
            - ./.postgres-data:/var/lib/postgresql/data