{% extends "event/base.html" %}

{% block nav_logout_login_links %}{% endblock %}

{% block form_img %}<img src="{{ static('event/images/password.svg') }}" alt="Reset password image"/>{% endblock %}

{% block body %}
<div class="backgroundColorFormBase">
    <div class="container">
        <div class="section">
            <div class="borderTopDiv z-depth-3 row">
                <h1 class="formH1 col s12">Password reset sent</h1>
                <p class="col s12">We’ve emailed you instructions for resetting your password if an account exists with the email you entered. You should receive them shortly.</p>
                <br />
                <p class="col s12">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                <br />
                <div class="col s12 loginLink">
                    <i class="material-icons primaryText">exit_to_app</i>
                    <a href="{{ url("event:login") }}" class="primaryText hoverLink">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
