{% extends "event/form_base.html" %}

{% block form_title %}Password Reset{% endblock %}
{% block form_description %}Forgot your password? Enter your email address below, and we’ll email instructions for setting a new one.{% endblock %}

{% set form_action=url("event:reset_password") %}
               
{% block form_inputs %}
    {{ render_field(form.email) }}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors() %}
            {{ error }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block form_button %}
<button type="submit" class="btn-small waves-effect waves-light secondaryColor colorBtn center">Reset My Password</button>
{% endblock %}

{% block form_bottom %}
<div class="col s12 loginLink">
    <i class="material-icons primaryText">exit_to_app</i>
    <a href="{{ url("event:login") }}" class="primaryText hoverLink s6">Back to Login</a>
</div>
<br />
<div class="row center">
    Something wrong? <a href="mailto:{{ contact_email }}" class="primaryText hoverLink">Contact us</a>.
</div>
{% endblock %}
