{% extends "event/base.html" %}

{% block nav_logout_login_links %}{% endblock %}

{% block form_img %}<img src="{{ static('event/images/password.svg') }}" alt="Reset password image"/>{% endblock %}

{% block body %}
<div class="backgroundColorFormBase">
    <div class="container">
        <div class="section">
            <div class="borderTopDiv z-depth-3 row">
                <h1 class="formH1 col s12">Password reset complete</h1>
                <p class="col s12">Your password has been successfully reset. You may go ahead and log in now.</p>
                <br />
                <div class="col s12 loginLink">
                    <i class="material-icons primaryText">exit_to_app</i>
                    <a href="{{ url("event:login") }}" class="primaryText hoverLink">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
