{% extends "event/form_base.html" %}

{% block form_title %}Password Reset{% endblock %}

{% block nav_logout_login_links %}{% endblock %}

{% block form_description %}<p class="col s12" style="margin-bottom: 10px;">Forgot your password? Enter your email address below and we’ll email instructions for setting a new one.</p>{% endblock %}
{% block form_img %}<img src="{{ static('event/images/password.svg') }}" alt="Reset password image"/>{% endblock %}

{% set form_action=url("event:reset_password") %}
               
{% block form_inputs %}
    {{ render_field(form.email) }}

    {% if form.non_field_errors() %}
        {% for error in form.non_field_errors() %}
            {{ error }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block form_button %}
<button type="submit" class="btn-small waves-effect waves-light colorBtn">Reset</button>
{% endblock %}

{% block form_bottom %}
<div class="col s12 loginLink">
    <i class="material-icons primaryText">exit_to_app</i>
    <a href="{{ url("event:login") }}" class="primaryText hoverLink">Back to Login</a>
</div>
<br />
<div class="col s12 center">
    Something wrong? <a href="mailto:{{ contact_email }}" class="primaryText hoverLink">Contact us</a>.
</div>
{% endblock %}
