{% extends "event/base.html" %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="borderTopDiv z-depth-3">

            <h4 class="formH2 col s12">Password reset complete</h4>
            <p>Your password has been successfully reset. You may go ahead and log in now.</p><br>

            <a href="{{ url("event:login") }}"  class="btn-small waves-effect waves-light secondaryColor colorBtn center">Go to Login</a>
        </div>
    </div>
</div>
{% endblock %}
