{% extends "event/form_base.html" %}

{% block nav_logout_login_links %}{% endblock %}

{% block form_title %}{{ "Invalid Link" if validlink==False else "Reset Password" }}{% endblock %}
{% block form_img %}<img src="{{ static('event/images/password.svg') }}" alt="Reset password image"/>{% endblock %}

{% block form_inputs %}
    {% if validlink==True %}
        {{ render_field(form.new_password1, show_help_text=True) }}
        {{ render_field(form.new_password2) }}

        {% if form.non_field_errors() %}
            {% for error in form.non_field_errors() %}
                {{ error }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block form_button %}
    {% if validlink==True %}
        <button type="submit" class="btn-small waves-effect waves-light colorBtn">Reset Password</button>
    {% endif %}
{% endblock %}

{% block form_bottom %}
<div class="col s12 loginLink">
    <i class="material-icons primaryText">exit_to_app</i>
    <a href="{{ url("event:login") }}" class="primaryText hoverLink">Back to Login</a>
</div>
<br />
<div class="col s12 center">
    Something wrong? <a href="mailto:{{ contact_email }}" class="primaryText hoverLink">Contact us</a>.
</div>
{% endblock %}
