{% extends "event/base.html" %}

{% block form_img %}<img src="{{ static('event/images/password.svg') }}" alt="Reset password image"/>{% endblock %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="borderTopDiv z-depth-3">

            <h1 class="formH1 col s12">Password reset sent</h1>
            <p>We’ve emailed you instructions for resetting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p><br>
            <br />
            <a href="{{ url("event:login") }}"  class="btn-small waves-effect waves-light secondaryColor colorBtn">Go back to Login</a>
        </div>
    </div>
</div>
{% endblock %}
