{% extends "event/form_base.html" %}

{% block form_title %}{{ "Invalid Link" if form is none else "Reset Password" }}{% endblock %}

{% block form_entry %}
    <form class="col s12" method="{{ form_method if form_method else "post" }}">
{% endblock %}

{% block form_inputs %}
    {{ render_field(form.new_password1, show_help_text=True) }}
    {{ render_field(form.new_password2) }}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors() %}
            {{ error }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block form_button %}
<button type="submit" class="btn-small waves-effect waves-light secondaryColor colorBtn center">Reset Password</button>
{% endblock %}

{% block form_bottom %}
<div class="col s12 loginLink">
    <i class="material-icons primaryText">exit_to_app</i>
    <a href="{{ url("event:login") }}" class="primaryText hoverLink s6">Back to Login</a>
</div>
<br />
<div class="row center">
    Something wrong? <a href="mailto:{{ contact_email }}" class="primaryText hoverLink">Contact us</a>.
</div>
{% endblock %}
