@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.item {
    &Box,
    &Black,
    &Pic {
        width: 100%;
        &:hover {
            cursor: pointer;
        }
    }

    &Black {
        object-fit: cover;
        opacity: 0.2;
        &:hover {
            cursor: pointer;
        }
    }

    &TextBox {
        padding: 10px;
    }
}

.outOfStock {
    color: color(secondary);
}

.inStock {
    color: color(grey);
}
