@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.Item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;

    &:hover {
        background-color: color(light2);
    }

    &Pic {
        height: 210px;
        &Box {
            object-fit: cover;
            opacity: 0.2;
        }
    }

    &Limit {
        font-size: small;
        margin: -1px 0px 0px -5px;
        &1 {
            color: #98e733;
        }
        &2 {
            color: #dc1c1c;
        }
        &3 {
            color: #ffa456;
        }
        &4 {
            color: #6c36c7;
        }
        &5 {
            color: #c816a1;
        }
    }

    &Name {
        display: flex;
        padding-top: 8px;
    }

    &TextBox {
        padding-left: 10px;
    }

    .outOfStock {
        color: color(red);
    }

    .inStock {
        color: #757575;
    }
}
