@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.Item {
    &Box,
    &Black {
        width: 100%;
     }

    &Pic {
        width: 100%;
        &Box {
            object-fit: cover;
            opacity: 0.2;
        }
    }

    &Black {
        object-fit: cover;
        opacity: 0.2;
    }

    &TextBox {
        padding: 10px;
    }

    .outOfStock {
        color: color(red);
    }

    .inStock {
        color: color(grey);
    }
}
