@import "./../../assets/abstracts/mixins";
@import "./../../assets/abstracts/variables";

.dashboard {
    width: 100%;
    max-width: 1400px;
    &Grid {
        margin-top: 30px;
        @include responsive(sm-down) {
            margin-top: 20px;
        }
        &Item {
            height: 100%;
            min-height: 283px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
