@import "assets/abstracts/mixins.scss";
@import "assets/abstracts/variables.scss";

.arrowIcon {
    width: 50px;
    height: 50px;
    padding: 10px;
    align-self: flex-start;

    transform: translateX(0px), scale(1);
    transition: transform ease-in-out 300ms;

    &:hover {
        transform: translateX(-10px);
        transition: transform ease-in-out 300ms;
    }

    &:active {
        transform: scale(0.8);
        transition: transform 300ms;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: max(40vw, 640px);

    @include responsive(md-down) {
        width: 100%;
    }
}

.formComponentContainer {
    all: unset;
    padding-bottom: 20px;
}

.card {
    align-self: center;
}

.cardContent {
    padding: 20px;
}

.pageContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdown {
    width: 200px;

    @include responsive(md-down) {
        width: 30%;
    }
}

.textboxFill {
    width: 100%;
}

.submitButton {
    align-self: center;
    width: fit-content;
    margin-top: 10px;
}

.titleMargin {
    margin-bottom: 20px;
}
