.formTextField {
    margin: 10px 5px 0 0;
}

.actionBtn {
    width: 120px;
}

.submitBtn {
    width: 120px;
    margin-right: 10px;
}

.projectDescriptionDetail {
    padding: 10px;
}

.title {
    margin-top: 30px;
}
