@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.table {
    min-width: 700px;
    &Container {
        margin-top: 25px;
        svg {
            color: color(grey);
        }
    }
}

.title {
    @include flexPosition($jusCon: space-between, $alIte: flex-end);
    &Text {
        margin-bottom: 10px;
    }
    &Chip {
        margin: 20px 0 5px 0;
        display: flex;
        &Space {
            @include flexPosition($jusCon: space-between);
        }
        &Text {
            min-width: fit-content;
            padding-top: 7px;
        }
    }
}

.itemImg {
    height: 80px;
    width: 80px;
}

.chip {
    margin-bottom: 4px;
    margin-left: 15px;
    &Red {
        background-color: color(redLight);
        svg {
            color: color(secondary);
        }
    }
    &Green {
        background-color: color(greenLight);
        svg {
            color: color(green);
        }
    }
    &Orange {
        background-color: color(orangeLight);
        svg {
            color: color(orange);
        }
    }
    &Purple {
        background-color: color(purpleLight);
        svg {
            color: color(purple);
        }
    }

    &Blue {
        background-color: color(blueLight);
        svg {
            color: color(blue);
        }
    }
}

.chipPadding {
    position: relative;
    left: 630px;
}

.noWrap {
    white-space: nowrap;
}
.width {
    &1 {
        width: calc(100% / 12);
    }
    &2 {
        width: calc(100% / 6);
    }
    &3 {
        width: calc(100% / 4);
    }
    &4 {
        width: calc(100% / 3);
    }
    &6 {
        width: calc(100% / 2);
    }
    &12 {
        width: 100%;
    }
    &Buffer {
        padding-right: 300px !important;
    }
    &Checkbox {
        width: 300px;
        padding-left: 250px;
    }
    &Fixed {
        width: 80px;
    }
    @include responsive(md-down) {
        &6 {
            min-width: 200px;
        }
        &Buffer {
            width: 0px;
            padding: 0px !important;
        }
        &Checkbox {
            width: 50px;
            padding-left: 0px;
        }
    }
}

.empty {
    padding: 20px 30px;
    font-size: size(sm);
}
