@import "../../../assets/abstracts/mixins";
@import "../../../assets/abstracts/variables";

.modalSize {
    @include responsive(sm-down) {
        width: calc(100% - 100px);
    }
    @include responsive(md-up) {
        width: calc(100% - 100px);
    }
    width: 400px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 30px;
    text-align: center;
}

.description {
    margin-top: 10px;
    text-align: center;
}

.buttons {
    float: right;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 10px;
}
