@import "../../../assets/abstracts/mixins";
@import "../../../assets/abstracts/variables";

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalGrid {
    background-color: white;
    padding: 1em;
    @include responsive(sm-down) {
        width: 200px;
    }
    width: 350px;
}

.title {
    text-align: center;
}
