@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.sponsors {
    display: flex;
    flex-direction: column;
    width: 400px;

    h2 {
        margin-bottom: 10px;
    }

    &Paper {
        flex-grow: 1;
        padding: 30px 0;
    }
}

.noSponsors {
    display: none;
}
