@import "../../../assets/abstracts/mixins";
@import "../../../assets/abstracts/variables";

.name {
    padding: 6px 0px;
}

.title {
    padding: 0px 0px;
}

.content_container {
    padding: 15px 25px;
}
