{% extends "event/base.html" %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="loginDiv z-depth-3 row">
            <div class="row col s12 flexColCenter">
                <h1 class="formH1">Activate your account</h1>
                <p>In order to continue with your application, we first need to verify your email. Please check your email (maybe in the junk folder) for a welcome message from us, with more instructions to activate your account. Once you've completed those steps, return to the site to continue with your application!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}