@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.header {
    @include flexPosition($alIte: center);
    width: 100%;
    background-color: color(light2);
    z-index: 5;
    padding: 8px 34px;

    @include responsive(sm-down) {
        padding: 4px 12px;
    }

    &BackArrow {
        margin-right: 5px;
    }

    > h2 {
        @include responsive(md-down) {
            font-size: size(md) !important;
        }
    }
}

.body {
    width: 100%;
    height: 100%;
    padding: 25px 30px;

    @include responsive(sm-up) {
        padding: 45px 50px;
        min-width: 550px;
    }
}
