@import "mixins";
@import "variables";

// Note, Materialize classes are kebab and all the classes below are camel case
// so you can distinguish its origin

// General HTML stuff
p {
    margin: 0;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
}

body {
    font-size: 18px;
    color: color(font);
}

strong {
    font-weight: 700;
}
// End of general HTML stuff

// Navbar stuff
.logoNav {
    height: 100%;
    padding: 5px;
}

.logoNavSide {
    padding: 30px;
    height: 150px;

    a,
    img {
        height: 100% !important;
        padding: 0 !important;

        &:hover {
            background-color: transparent !important;
        }
    }
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1100;
}
// End of navbar stuff

// Landing section
.landingImg {
    @include flexPosition($jusCon: center, $alIte: center);

    img {
        width: 100%;
    }

    @include responsive(sm-down) {
        margin-top: 0;
    }
}
// End of landing section

// "About" section
#aboutText {
    p {
        margin: 20px 0;
    }
}
.countdown {
    @include flexPosition($jusCon: center, $alIte: center);

    &Days {
        margin-top: 20px;
        font-size: 30px;
    }

    &Num {
        width: 78px;
        height: 129px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 106px;
        text-align: center;
        background-color: color(secondary);
        color: #0d061a;
        @include flexPosition($dir: column);
        margin: 0 5px;
        padding: 0 !important;
    }

    &WhiteLine {
        position: relative;
        top: 50%;
        width: 100%;
        border: 2px solid color(white);
    }
}

#day1,
#day2,
#day3 {
    margin: -20px 0 0;
}
// End of "About" section

// "Schedule" section
.schedule {
    margin: 10px 0 30px;

    p {
        font-size: 20px;
        margin: 0;
    }

    &Time {
        width: 80px;
    }

    &Row {
        display: flex;
        margin: 10px 0;
    }

    @include responsive(md-down) {
        p {
            font-size: 18px;
        }
        &Time {
            width: 70px;
        }
    }
}
// End of "Schedule" section

// "Sponsors" section
.sponsorImgs {
    margin-top: 50px;

    img {
        height: 100%;
        width: 100%;
        max-height: 150px;
        padding-bottom: 50px;
    }
}
// End of "Sponsors" section

// "FAQ" section
.collapsible .active {
    color: color(primary);
}
// End of "FAQ" section

// Video section
.video {
    max-width: 1000px;
    width: 90%;
}
// End of video section

// Carousel section
.carousel {
    height: 333px !important;

    .carousel-item {
        opacity: 1 !important;
        height: 333px !important;

        > img {
            width: auto !important;
            height: 100%;
            transform: translateX(-120px);
        }
    }
}
// End of carousel section

// Footer section
.contactBtns {
    a {
        border-radius: 100%;
        height: 50px;
        width: 50px;
        margin: 10px 15px 20px;

        img {
            height: 100%;
            width: 100%;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
// End of section

// Colors
.primaryColor {
    background-color: color(primary) !important;
}

.secondaryColor {
    background-color: color(secondary) !important;
}

.primaryText {
    color: color(primary) !important;
}

.secondaryText {
    color: color(secondary) !important;
}

.colorBtn {
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
    color: color(font) !important;
    background-color: color(secondary) !important;

    &:hover {
        background-color: #d2a300 !important;
    }
}

.redBtn {
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
    color: #f3c7c7 !important;
    background-color: #b40000 !important;

    &:hover {
        background-color: #870000 !important;
    }
}

.active {
    color: color(secondary);
}
// End of colors

// Login stuff
.login {
    &Div {
        display: flex;
        background-color: #fff;
        border-top: solid 10px color(secondary);
        border-radius: 3px 3px 0 0;
        padding: 50px 30px 30px;
        margin: 50px auto 100px;
        max-width: 900px;

        @include responsive(md-down) {
            padding: 40px 15px 30px;
        }

        @include responsive(sm-down) {
            padding-bottom: 20px;
            display: block;
        }

        .landingImg img {
            max-width: 300px;
        }
    }

    &Link {
        @include flexPosition($jusCon: center);
        margin: 10px 0 15px;
        font-size: size(md);
        padding: 0 !important;

        i {
            margin-right: 5px;
        }
    }
}

.form {
    &H1 {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 30px;
        color: color(dark);
        font-size: 50px;
    }

    &H2 {
        font-weight: normal;
        color: color(dark);
        font-size: 30px;
        margin: 0 0 15px;
    }

    &H3 {
        font-weight: normal;
        color: color(dark);
        font-size: 24px;
        text-transform: initial;
        margin: 0 0 10px;
    }

    @include responsive(md-down) {
        &H1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        &H2 {
            font-size: 24px;
        }
        &H3 {
            font-size: 20px;
        }
    }

    &Checkbox span {
        color: color(font);
    }

    &FieldError {
        font-size: 12px;
        color: #f44336;
        display: block;
    }

    &Error {
        color: #f44336;
        display: block;
    }
}

.input-field {
    input:not([type]):focus:not([readonly]) + label,
    input[type="text"]:focus:not([readonly]) + label,
    input[type="password"]:focus:not([readonly]) + label,
    input[type="email"]:focus:not([readonly]) + label,
    input[type="date"]:focus:not([readonly]) + label,
    input[type="tel"]:focus:not([readonly]) + label,
    input[type="number"]:focus:not([readonly]) + label,
    input[type="search"]:focus:not([readonly]) + label,
    textarea.materialize-textarea:focus:not([readonly]) + label {
        color: color(primary);
    }

    input:not([type]):focus:not([readonly]),
    input[type="text"]:focus:not([readonly]),
    input[type="password"]:focus:not([readonly]),
    input[type="email"]:focus:not([readonly]),
    input[type="date"]:focus:not([readonly]),
    input[type="tel"]:focus:not([readonly]),
    input[type="number"]:focus:not([readonly]),
    input[type="search"]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid color(primary);
        -webkit-box-shadow: 0 1px 0 0 color(primary);
        box-shadow: 0 1px 0 0 color(primary);
    }
}
// End of form stuff

// Dashboard stuff
.borderTopDiv {
    @include flexPosition($dir: column);
    background-color: #fff;
    border-top: solid 10px color(secondary);
    border-radius: 3px 3px 0 0;
    padding: 40px 30px 30px;
    margin: 20px auto;
    max-width: 950px;
    font-size: size(md);

    @include responsive(sm-down) {
        padding: 25px 20px;
    }
}

.faq {
    &Question {
        font-weight: bold;
        margin: 10px 0 0;
    }

    &Answer {
        margin: 5px 0 20px;
    }
}
// End of dashboard stuff

// Formatting stuff
.flexColCenter {
    @mixin flexPosition($alIte: center, $dir: column) {
}

.longText {
    padding-right: 200px;

    @include responsive(sm-down) {
        padding-right: 0;
    }
}

.hoverLink {
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.rowMarginPadding {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.formPadding {
    @include responsive(sm-down) {
        padding: 0 !important;
    }
}
// End of formatting stuff
