@import "./../../assets/abstracts/variables";
@import "./../../assets/abstracts/mixins";

.drawer {
    display: flex;
    flex-shrink: 0;
}
.inventory {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1400px;
    padding: 50px
}

.Item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    cursor: pointer;

    &:hover {
        background-color: color(light2);
    }
}


.itemHeader {
    // width: 100vw;
    padding: 10px 50px;
    position: sticky;
    top: 64px;
    // right: 0;
    background-color: color(backgroundC);
    z-index: 1;
    box-shadow: 6px 4px 6px -2px rgba(0, 0, 0, 0.25);
    margin-left: 15px;
    
    &Divider {
        margin: 0 25px;
    }
    &Search {
        @include flexPosition;
        &Input {
            background-color: color(white);
            width: 100%;
            margin-right: 8px;
        }
    }  
    &Btns {
        @include flexPosition();

        &Refresh {
            @include flexPosition();
        }
    }   
    @include responsive(sm-down) {
        flex-direction: column; 
        width: 100vw;
        padding: 12px 12px 10px;
        top: 56px;
        // position: relative;

        &Search, &SearchInput, &Btns {
            width: 100%;
        }  
        
        &Btns {
            margin-top: 15px;
        }
    }
}