@import "./../../assets/abstracts/mixins";
@import "./../../assets/abstracts/variables";

.paper {
    margin-top: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;

    @include responsive(sm-down) {
        padding: 30px;
    }
}

.title {
    margin-bottom: 30px;
}
