.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    h2 {
        margin-bottom: 10px;
    }
    &Paper {
        padding: 8px 20px;
        &Qty {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
        }
        &Msg {
            padding: 20px 0;
        }
    }
}
