@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.TeamCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .paper {
        flex-grow: 1;
        padding: 8px 0px;
        overflow-x: hidden;
        .name {
            padding: 12px 50px 12px 20px;
        }
    }
    .lastRow {
        display: flex;
        justify-content: flex-end;
        padding-top: 8px;
    }
    .ButtonColor {
        color: color(primary);
    }
}
