appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
coreapi==2.3.3
coreschema==0.0.4
dj-rest-auth==1.0.6
Django==3.2.15
django-client-side-image-cropping==0.1.9
django-cors-headers==3.3.0
django-debug-toolbar==2.2.1
django-filter==2.4.0
django-import-export==2.5.0
django-recaptcha==2.0.6
django-redis==4.12.1
django-registration==3.1.2
djangorestframework==3.11.2
drf-yasg==1.17.1
gunicorn==20.0.4
idna==2.9
inflection==0.5.0
itypes==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.4
pathspec==0.8.0
Pillow==9.0.1
psycopg2-binary==2.8.6
python-dateutil==2.8.2
pyparsing==2.4.7
pytz==2020.1
PyYAML==5.4
qrcode==7.3.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.0
typed-ast==1.4.1
uritemplate==3.0.1
urllib3==1.26.5
