@import "./../../assets/abstracts/variables";
@import "./../../assets/abstracts/mixins";

.filter {
    height: 100%;
    @include flexPosition($alIte: center, $dir: column);

    span {
        font-size: 14px !important;
    }

    h2 {
        margin-bottom: 5px;
    }

    form {
        padding: 15px;
        background-color: color(white);
    }

    &Divider {
        margin: 15px 0;
    }

    &Category {
        @include flexPosition($jusCon: space-between, $alIte: center);

        &Chip {
            background-color: color(blueLight);
        }
    }

    &Btns {
        @include flexPosition($jusCon: center, $alIte: center);
        width: 100%;
        padding: 15px 10px;

        &Apply {
            width: auto;
            margin: 0 0 0 10px;
        }
    }

    @include responsive(md-down) {
        width: 100%;
        justify-content: space-between;

        &Paper {
            box-shadow: none;
            padding: 24px;
        }

        &Btns {
            background-color: color(light1);
            position: sticky;
            bottom: 0;
            box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2),
                0px -4px 5px 0px rgba(0, 0, 0, 0.14),
                0px -1px 10px 0px rgba(0, 0, 0, 0.12);
        }
    }

    &CircularProgress {
        margin-left: 1em;
    }

    fieldset {
        border: none;
    }
}
