@use "../../../assets/abstracts/variables";

.button {
    text-transform: none;
    font-weight: 400;
    justify-content: left;
}

.actionItem {
    padding: 11px 0;
    border-bottom: none;
}

.icon {
    color: variables.color(grey);
}
