{% extends "event/form_base.html" %}

{% block form_title %}SEND DECISION EMAILS TO PARTICIPANTS{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% set form_action=url("admin:send-decision-emails") %}

{% block form_description %}
    {% if form.non_field_errors %}
        <div class="row col s12">
        {% for error in form.non_field_errors() %}
            <span class="formError">{{ error }}</span>
        {% endfor %}
        </div>
        <div class="row col s12">
            Accepted: {{ accepted_count }}
            Waitlisted: {{ waitlisted_count }}
            Rejected: {{ rejected_count }}
        </div>
    {% endif %}
{% endblock %}

{% block form_inputs %}
    {% for field in form %}
        {% if field.field.widget.input_type == "select" %}
            <div class="input-field row col s12">
                <select id="status" name="status">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Waitlisted">Waitlisted</option>
                    <option value="Rejected">Rejected</option>
                </select>
                <label>{{field.label}}</label>
            </div>
        {% else %}
            {{ render_field(field, size="s12") }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block form_button %}
<div class="input-field col s12 center" style="margin-bottom: 0">
    <button type="submit" class="btn-small waves-effect waves-light colorBtn">Submit</button>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
{% endblock %}
