<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}Hackathon Site{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ static("event/styles/css/styles.css") }}" />
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        Hello there
        {% endblock %}
    </body>
</html>
