{% extends "event/form_base.html" %}

{% block form_title %}Change Password{% endblock %}

{% block nav_links %}
<li><a href="{{ url("event:dashboard") }}">Dashboard</a></li>
<li><a href="{{ url("event:change_password") }}" class="active">Change Password</a></li>
{% endblock %}

{% block form_img %}<img src="{{ static('event/images/password.svg') }}" alt="Change password image"/>{% endblock %}

{% set form_action=url("event:change_password") %}
               
{% block form_inputs %}
    {{ render_field(form.old_password) }}
    {{ render_field(form.new_password1, show_help_text=True) }}
    {{ render_field(form.new_password2) }}

    {% if form.non_field_errors() %}
        {% for error in form.non_field_errors() %}
            {{ error }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block form_button %}
<button type="submit" class="btn-small waves-effect waves-light colorBtn">Change Password</button>
{% endblock %}

{% block form_bottom %}
<br />
<div class="col s12 center">
    Something wrong? <a href="mailto:{{ contact_email }}" class="primaryText hoverLink">Contact us</a>.
</div>
{% endblock %}
