{% extends "event/base.html" %}

{% block nav_links %}
    <li><a href="{{ url("event:change_password") }}" >Change Password</a></li>
{% endblock %}


{% block body %}
<div class="container">
    <div class="section">
        <div class="borderTopDiv z-depth-3">

            <h4 class="formH2 col s12">Password Change Successful</h4>
            <p>Your password was changed successfully.</p>
            <a href="{{ url("event:dashboard") }}"  class="btn-small waves-effect waves-light secondaryColor colorBtn center">Go back to Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
