{% extends "event/base.html" %}

{% block nav_links %}
<li><a href="{{ url("event:dashboard") }}">Dashboard</a></li>
<li><a href="{{ url("event:change_password") }}" class="active">Change Password</a></li>
{% endblock %}

{% block form_img %}<img src="{{ static('event/images/password.svg') }}" alt="Change password image"/>{% endblock %}

{% block body %}
<div class="backgroundColorFormBase">
    <div class="container">
        <div class="section">
            <div class="borderTopDiv z-depth-3">
                <h1 class="formH1">Success</h1>
                <p>Your password was changed successfully.</p>
                <br />
                <a href="{{ url("event:dashboard") }}" class="btn-small waves-effect waves-light colorBtn" style="margin-right: auto;">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
