{% extends "event/base.html" %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="loginDiv z-depth-3 row">
            <div class="row col s12 flexColCenter">
                <h1 class="formH1">{% block form_title %}{% endblock %}</h1>
                <form class="col s12">
                    {% block form_inputs %}{% endblock %}
                </form>

                <button class="btn-small waves-effect waves-light secondaryColor colorBtn center">{% block form_button %}{% endblock %}</button>
                <br />
                {% block form_bottom %}{% endblock %}
            </div>
            <div class="col m5 s12 center landingImg">
                {% block form_img %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
