@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.name {
    padding: 6px 20px;
}

.title {
    padding: 0px 5px;
}

.border {
    border-style: solid;
}

.lastRow {
    @include flexPosition($jusCon: flex-end);
    padding-top: 6px;
}
