@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.table {
    min-width: 700;
    &Container {
        margin-top: 25px;
        svg {
            color: color(grey);
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &Text {
        margin-bottom: 10px;
    }
}

.titleChip {
    display: flex;
    align-items: flex-end;
}

.itemImg {
    height: 80px;
    width: 80px;
}

.chip {
    margin-bottom: 4px;
    margin-left: 15px;
    &Green {
        background-color: color(greenLight);
        svg {
            color: color(green);
        }
    }
    &Orange {
        background-color: color(orangeLight);
        svg {
            color: color(orange);
        }
    }
    &Red {
        background-color: color(redLight);
        svg {
            color: color(red);
        }
    }
}

.width {
    &Fixed {
        width: 80px;
    }
    &Half {
        width: 50%;
    }
    &Quarter {
        width: 15%;
    }
    &Buffer {
        width: 100%;
    }
    &Button {
        width: 30%;
    }
    @include responsive(md-down) {
        &Half {
            width: 50%;
            min-width: 180px;
        }
        &Quarter {
            width: 25%;
        }
        &Buffer {
            width: 0px;
            padding: 0px !important;
        }
        &Button {
            width: 10%;
        }
    }
}

.empty {
    padding: 20px 30px;
    font-size: size(sm);
}
