@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.header {
    background-color: color(secondary) !important;
    width: calc(100% + 100px);
    margin-top: -50px;
    margin-bottom: 50px;

    @include responsive(md-down) {
        width: calc(100% + 50px);
        margin-top: -25px;
        margin-bottom: 25px;
    }

    &Toolbar {
        justify-content: space-between;
    }

    &Logo {
        display: flex;
        &Img {
            height: 30px;
        }
    }

    &IconBtn {
        color: color(white);
        &:hover {
            background-color: rgba(355, 355, 355, 0.2);
        }
    }

    &Drawer {
        &Top {
            width: 100%;
            height: 56px;
            display: block;
            background-color: color(light1);
            width: 300px;
        }
        &Hackathon {
            padding: 30px 15px 20px;
            &Img {
                height: 48px;
            }
        }
        &Divider {
            width: 100%;
            height: 1px;
            display: block;
            background-color: color(light2);
            margin-bottom: 20px;
        }
    }
}
