@import "assets/abstracts/mixins";
@import "assets/abstracts/variables";

.App {
    background-color: color(backgroundC);
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: color(font);
}

// Need to overwrite some react-slick classes
.slick {
    &-slide {
        margin: 10px 20px;
    }
    &-track {
        display: flex;
        align-items: center;
    }
}
