@import "assets/abstracts/mixins";
@import "assets/abstracts/variables";

.App {
    background-color: color(backgroundC);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
    &Padding {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        @include responsive(sm-down) {
            font-size: size(xs);
            padding: 25px;
        }
    }
}
