@import 'assets/abstracts/mixins';
@import 'assets/abstracts/variables';

.App {
  text-align: center;
  background-color: color(backgroundC);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: color(font);
}