@import "./assets/abstracts/mixins.scss";
@import "./assets/abstracts/variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
a,
input,
select,
textarea {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: font(body);
    background-color: color(backgroundC);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.87);
    font-size: size(md);

    @include responsive(sm-down) {
        font-size: size(sm);
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
.MuiTypography-h1 {
    font-size: size(xl);
    font-weight: bold;
    text-align: center;
    @include responsive(md-down) {
        font-size: size(lg) + 15px;
    }
}

h2,
.MuiTypography-h2 {
    font-size: size(md);
    font-weight: 500;
    @include responsive(md-down) {
        font-size: size(sm);
    }
}

h3,
.MuiTypography-h3 {
    font-size: size(sm);
    font-weight: 500;
    @include responsive(md-down) {
        font-size: size(xs);
    }
}

.MuiOutlinedInput-root {
    border-radius: 0;
}
