.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.tableContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 14px;
    padding: 0;

    .tableTitle {
        text-align: left;
    }

    th,
    tr {
        white-space: nowrap;
    }

    .checkBox {
        color: #2b7bbc;
    }
}
