@import "./../../assets/abstracts/mixins";
@import "./../../assets/abstracts/variables";

.overviewCard {
    text-align: left;
    height: 52px;
    justify-content: center;
    border-radius: 0px;
    @include flexPosition($dir: column);
}

.overviewCardTypography {
    margin-left: 10px;
}

.titleButton {
    margin-left: 45px;
}

.title {
    text-justify: left;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.dashboard {
    width: 100%;
}

.section {
    margin-bottom: 1rem;
}

.orderCard {
    width: 225px;
    height: 164px;
}

.orderCardGrid {
    width: 225px;
    height: 164px;
    overflow-x: scroll;
}

.overviewCardGrid {
    margin-top: 40px;

    @include responsive(sm-down) {
        margin-top: 20px;
    }
}
