@import "./../../assets/abstracts/mixins";
@import "./../../assets/abstracts/variables";

.overviewCard {
    height: 100%;
    min-height: 52px;
    width: 100%;
    text-align: center;
    justify-content: center;
    @include flexPosition($dir: column);
}

.title {
    text-justify: left;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.section {
    width: 100%;
}

.overviewCardGrid {
    margin-top: 40px;

    @include responsive(sm-down) {
        margin-top: 20px;
    }
}
