@import "assets/abstracts/mixins";
@import "assets/abstracts/variables";

.titleButton {
    margin-left: 45px;
}

.title {
    text-justify: left;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.dashboard {
    width: 100%;
}

.section {
    margin-bottom: 1rem;
}
