@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.form {
    width: 100%;
    text-align: center;

    button {
        background-color: color(primary);
        color: color(white);
        font-weight: 500;
        font-size: font(sm);
        margin-top: 15px;
        padding: 10px 25px;

        &:hover {
            background-color: color(dark1);
        }
    }

    &TextField {
        margin: 15px 0;
        width: inherit;
        border-radius: 0;
    }

    &CircularProgress {
        margin-left: 1em;
    }
}

.alert {
    margin-bottom: 15px;
}
