@mixin flexPosition($jusCon: space-between, $alIte: center) {
    display: flex;
    justify-content: $jusCon;
    align-items: $alIte;
}

@mixin responsive($breakpoint) {
    @if ($breakpoint == xl) {
        @media (max-width: 1920px) {
            @content;
        }
    }
    @if ($breakpoint == lg) {
        @media (max-width: 1280px) {
            @content;
        }
    }

    @if ($breakpoint == md) {
        @media (max-width: 960px) {
            @content;
        }
    }

    @if ($breakpoint == sm) {
        @media (max-width: 600px) {
            @content;
        }
    }
    @if ($breakpoint == xs) {
        @media (max-width: 0px) {
            @content;
        }
    }
}
