$colors: (
    font: #000,
    white: #fff,
    primary: #2b7bbc,
    secondary: #222944,
    light1: #e5eef4,
    light2: #f9f5ff,
    dark1: #11568e,
    backgroundC: #fafafa,
    green: #43a047,
    greenLight: #c1edc1,
    orange: #ffa000,
    orangeLight: #ffe3b4,
    red: #b00020,
    redLight: #f9e0e0,
    grey: #ebf0ef,
);

$fonts: (
    body: "Roboto",
);

$font-sizes: (
    xl: 45px,
    lg: 18px,
    md: 16px,
    sm: 14px,
    xs: 12px,
);

@function color($color-name) {
    @return map-get($colors, $color-name); //(name of map, key)
}

@function font($fonts-name) {
    @return map-get($fonts, $fonts-name); //(name of map, key)
}

@function size($size) {
    @return map-get($font-sizes, $size); //(name of map, key)
}
