@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.footer {
    text-align: center;
    background-color: color(footer);
    color: color(white);
    padding: 10px;
    width: 100%;
}
