@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.items {
    @include flexPosition($jusCon: space-between, $alIte: center);
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
        background-color: color(light2);
    }
    svg {
        margin-left: 15px;
    }
}

.paper::-webkit-scrollbar {
    display: none;
}
