@import "./../../../assets/abstracts/mixins";

.paper {
    flex-grow: 1;
    padding: 8px 0px;
    overflow-x: hidden;
    .items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        &:hover {
            background-color: color(light2);
        }
        svg {
            color: color(grey);
            margin-left: 25px;
        }
    }
}

.paper::-webkit-scrollbar {
    display: none;
}
