@import "./../../../assets/abstracts/mixins";
@import "./../../../assets/abstracts/variables";

.nav {
    &Btn,
    &IconBtn {
        color: color(white);

        .customIcon {
            width: 20px;
        }

        &:hover {
            background-color: rgba(355, 355, 355, 0.2);
        }
    }

    &Btn {
        border-radius: 0;
        padding: 20px 15px;
    }

    &IconBtn {
        margin-left: 15px;
    }

    &Disappear {
        @include responsive(md) {
            display: none;
        }
    }

    &Reappear {
        display: none;
        @include responsive(md) {
            display: inline;
        }
    }
}
