@import './../../../assets/abstracts/mixins';
@import './../../../assets/abstracts/variables';

.nav {
	color: color(white);
	background-color: color(secondary) !important;
	
	&Toolbar {
		justify-content: space-between;
	}

	&Logo {
		display: flex;

		&Img {
			height: 30px;
		}
	}

	button {
		border-radius: 0;

		&:hover {
			background-color: rgba(355, 355, 355, 0.2);
		}
	}

	&Icons {
		align-self: right;
		color: color(white);
		
		span {
			color: color(white);
			font-size: size(md);
			font-weight: 500;
		}

		svg {
			color: color(white);
			margin: 10px;
		}
	}
}