name: CI/CD

on:
  push:
    branches: '**'

jobs:
  backend-checks:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: hackathon_site

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check formatting with Black
        run: |
          # Stop the build if there are any formatting issues picked up by Black
          black --check .
      - name: Tests
        env:
          SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
          DEBUG: 0
        run: python manage.py test --settings=hackathon_site.settings.ci

  event-checks:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: hackathon_site/event

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install dependencies
        run: yarn install
      - name: Formatting check
        run: yarn prettier --check 'static/**/*.(scss|js)'

  dashboard-checks:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: hackathon_site/dashboard/frontend

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install dependencies
        run: yarn install
      - name: Formatting check
        run: yarn prettier --check 'src/**/*.(scss|js)'
      - name: Tests
        run: yarn test --watchAll=false
